{% extends "layout.html" %}

{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Join today!
				</legend>
				<div class="form-group">
					{{ form.fname.label }}
					{{ form.fname }}
				</div>
				<div class="form-group">
					{{ form.lname.label }}
					{{ form.lname }}
				</div>
				<div class="form-group">
					{{ form.email.label }}
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
					{% else %}
					{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.num.label }}
					{{ form.num }}
				</div>
				<div class="form-group">
					{{ form.pw.label(class="form-control-label") }}
					{% if form.pw.errors %}
						{{ form.pw(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.pw.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.pw(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.confirm.label(class="form-control-label") }}
					{% if form.confirm.errors %}
						{{ form.confirm(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.submit(class="btm btn-outline-info") }}
				</div>		
			</fieldset>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already have an account? <a class="ml-2" href="{{ url_for('guy.login') }}">Sign In</a>
		</small>
	</div>
{% endblock content %}