{% extends 'data/layout.html' %}

{% block content %}

<div class="form-contents">
    <form method="POST" action="" id="theForm">
        {% if form != 'Nope': %}
            {{ form.hidden_tag() }}
        {% endif %}
        <fieldset class="form-group">
        <div class="form-group">
            {{ form.weekday.label }}
            {{ form.weekday }}
        </div>
        <div class="form-group">
            {{ form.month.label }}
            {{ form.month }}
        </div>
        <div class="form-group">
            {{ form.day.label }}
            {{ form.day }}
        </div>
        <div class="form-group">
            {{ form.year.label }}
            {{ form.year }}
        </div>
        </fieldset>
    </form>
</div>

{% endblock content %}