{% extends 'data/layout.html' %}

{% block content %}

<div class="form-contents">
    <form method="POST" action="">
        {% if form != 'Nope': %}
            {{ form.hidden_tag() }}
        {% endif %}
        <fieldset class="form-group">
        <div class="form-group">
            {{ form.weekday.label }}
            {{ form.weekday }}
        </div>
        <div class="form-group">
            {{ form.month.label }}
            {{ form.month }}
        </div>
        <div class="form-group">
            {{ form.day.label }}
            {{ form.day }}
        </div>
        <div class="form-group">
            {{ form.year.label }}
            {{ form.year }}
        </div>
        <span class="data-funx" id="submit-button">{{ form.submit(class="btm btn-outline-info") }}</span>
        </fieldset>
    </form>
</div>

{% endblock content %}